.custombtn {
  padding: 15px;
  width: 40%;
  background-color: #7aba00;
  margin: 10px;
  text-align: center;
  border: 0;
}

.custombtn-active {
  background-color: green;
  padding: 15px;
  width: 40%;

  margin: 10px;
  text-align: center;
  border: 0;
}
