.CustomCard {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 15px;
}

.CustomCard-Image {
  height: 200px;
  width: 100%;
}

.CustomCard-Name {
  margin: 10px 0px;
  color: black;
  font-weight: bold;
}

.CustomCard-Desc {
  margin: 10px 0px;

  font-weight: bold;
}

span {
  color: indigo;
}
